SECRET_KEY=tu-secret-key-aqui-cambiar-en-produccion
DEBUG=False
DB_NAME=fonoapp_db
DB_USER=fonoapp_user
DB_PASSWORD=tu-password-seguro-aqui
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=tu-ip-publica-aws
DJANGO_SETTINGS_MODULE=fonoapp.settings_prod
